
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - eventnotifier.drhelius.io
  resources:
  - slacknotifications
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - eventnotifier.drhelius.io
  resources:
  - slacknotifications/status
  verbs:
  - get
  - patch
  - update
